build/.ninja_deps
build/.ninja_log
build/bs2_default.elf.map
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/TeensyBridge.bin
build/TeensyBridge.dis
build/TeensyBridge.elf
build/TeensyBridge.elf.map
build/TeensyBridge.hex
build/TeensyBridge.uf2
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-883ecd70b4540b4d65a7.json
build/.cmake/api/v1/reply/cmakeFiles-v1-aaf6f622c43620bb10f0.json
build/.cmake/api/v1/reply/codemodel-v2-ce054b9bbf3bbb4d1dbf.json
build/.cmake/api/v1/reply/index-2022-09-22T21-51-05-0321.json
build/.cmake/api/v1/reply/target-bs2_default_bin-Debug-5cf6233ae428b021f3cd.json
build/.cmake/api/v1/reply/target-bs2_default_padded_checksummed_asm-Debug-78c93b6e9839864e8b9e.json
build/.cmake/api/v1/reply/target-bs2_default-Debug-30c8bb03c22f6e6df9b9.json
build/.cmake/api/v1/reply/target-ELF2UF2Build-Debug-7467a6fb392a6ea564cb.json
build/.cmake/api/v1/reply/target-TeensyBridge-Debug-d967e6a647b53b153e54.json
build/.cmake/api/v1/reply/toolchains-v1-9a01233d7a1df26100c8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/ELF2UF2Build-complete
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.1/CMakeASMCompiler.cmake
build/CMakeFiles/3.20.1/CMakeCCompiler.cmake
build/CMakeFiles/3.20.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.1/CMakeSystem.cmake
build/CMakeFiles/3.20.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.1/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.20.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.1/CompilerIdCXX/CMakeCXXCompilerId.o
build/CMakeFiles/ELF2UF2Build.dir/Labels.json
build/CMakeFiles/ELF2UF2Build.dir/Labels.txt
build/CMakeFiles/TeensyBridge.dir/TeensyBridge.c.obj
build/CMakeFiles/TeensyBridge.dir/usb_descriptors.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/hw/bsp/rp2040/family.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/tusb.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/audio/audio_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/cdc/cdc_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/dfu/dfu_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/dfu/dfu_rt_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/hid/hid_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/midi/midi_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/msc/msc_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/net/ecm_rndis_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/net/ncm_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/usbtmc/usbtmc_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/vendor/vendor_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/class/video/video_device.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/common/tusb_fifo.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/device/usbd_control.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/device/usbd.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/portable/raspberrypi/rp2040/dcd_rp2040.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/lib/tinyusb/src/portable/raspberrypi/rp2040/rp2040_usb.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/common/pico_sync/critical_section.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/common/pico_sync/lock_core.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/common/pico_sync/mutex.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/common/pico_sync/sem.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/common/pico_time/time.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/common/pico_time/timeout_helper.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/common/pico_util/datetime.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/common/pico_util/pheap.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/common/pico_util/queue.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_claim/claim.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_clocks/clocks.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_divider/divider.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_gpio/gpio.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_irq/irq_handler_chain.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_irq/irq.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_pll/pll.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_sync/sync.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_timer/timer.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_uart/uart.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_vreg/vreg.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_watchdog/watchdog.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/hardware_xosc/xosc.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_bit_ops/bit_ops_aeabi.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_bootrom/bootrom.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_divider/divider.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_double/double_aeabi.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_double/double_init_rom.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_double/double_math.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_double/double_v1_rom_shim.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/rp2040_usb_device_enumeration.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_float/float_aeabi.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_float/float_init_rom.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_float/float_math.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_float/float_v1_rom_shim.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_int64_ops/pico_int64_ops_aeabi.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_malloc/pico_malloc.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_mem_ops/mem_ops_aeabi.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_platform/platform.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_printf/printf.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_runtime/runtime.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_standard_link/binary_info.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_standard_link/crt0.S.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_standard_link/new_delete.cpp.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_stdio/stdio.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_stdio_uart/stdio_uart.c.obj
build/CMakeFiles/TeensyBridge.dir/C_/Users/feder/Git/pico-sdk/src/rp2_common/pico_stdlib/stdlib.c.obj
build/elf2uf2/.ninja_deps
build/elf2uf2/.ninja_log
build/elf2uf2/build.ninja
build/elf2uf2/cmake_install.cmake
build/elf2uf2/CMakeCache.txt
build/elf2uf2/elf2uf2.exe
build/elf2uf2/elf2uf2.pdb
build/elf2uf2/CMakeFiles/cmake.check_cache
build/elf2uf2/CMakeFiles/CMakeOutput.log
build/elf2uf2/CMakeFiles/feature_tests.bin
build/elf2uf2/CMakeFiles/feature_tests.cxx
build/elf2uf2/CMakeFiles/rules.ninja
build/elf2uf2/CMakeFiles/TargetDirectories.txt
build/elf2uf2/CMakeFiles/3.20.1/CMakeCCompiler.cmake
build/elf2uf2/CMakeFiles/3.20.1/CMakeCXXCompiler.cmake
build/elf2uf2/CMakeFiles/3.20.1/CMakeDetermineCompilerABI_C.bin
build/elf2uf2/CMakeFiles/3.20.1/CMakeDetermineCompilerABI_CXX.bin
build/elf2uf2/CMakeFiles/3.20.1/CMakeRCCompiler.cmake
build/elf2uf2/CMakeFiles/3.20.1/CMakeSystem.cmake
build/elf2uf2/CMakeFiles/3.20.1/CompilerIdC/a.exe
build/elf2uf2/CMakeFiles/3.20.1/CompilerIdC/CMakeCCompilerId.c
build/elf2uf2/CMakeFiles/3.20.1/CompilerIdCXX/a.exe
build/elf2uf2/CMakeFiles/3.20.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/elf2uf2/CMakeFiles/ShowIncludes/foo.h
build/elf2uf2/CMakeFiles/ShowIncludes/main.c
build/elf2uf2/CMakeFiles/elf2uf2.dir/main.cpp.obj
build/elf2uf2/boot_uf2_headers/cmake_install.cmake
build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-configure
build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-done
build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-download
build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-install
build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-mkdir
build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-patch
build/elf2uf2/src/ELF2UF2Build-stamp/ELF2UF2Build-update
build/elf2uf2/tmp/ELF2UF2Build-cfgcmd.txt
build/elf2uf2/tmp/ELF2UF2Build-cfgcmd.txt.in
build/generated/pico_base/pico/config_autogen.h
build/generated/pico_base/pico/version.h
build/pico-sdk/cmake_install.cmake
build/pico-sdk/docs/cmake_install.cmake
build/pico-sdk/src/cmake_install.cmake
build/pico-sdk/src/common/cmake_install.cmake
build/pico-sdk/src/common/boot_picoboot/cmake_install.cmake
build/pico-sdk/src/common/boot_uf2/cmake_install.cmake
build/pico-sdk/src/common/pico_base/cmake_install.cmake
build/pico-sdk/src/common/pico_binary_info/cmake_install.cmake
build/pico-sdk/src/common/pico_bit_ops/cmake_install.cmake
build/pico-sdk/src/common/pico_divider/cmake_install.cmake
build/pico-sdk/src/common/pico_stdlib/cmake_install.cmake
build/pico-sdk/src/common/pico_sync/cmake_install.cmake
build/pico-sdk/src/common/pico_time/cmake_install.cmake
build/pico-sdk/src/common/pico_usb_reset_interface/cmake_install.cmake
build/pico-sdk/src/common/pico_util/cmake_install.cmake
build/pico-sdk/src/rp2040/cmake_install.cmake
build/pico-sdk/src/rp2040/hardware_regs/cmake_install.cmake
build/pico-sdk/src/rp2040/hardware_structs/cmake_install.cmake
build/pico-sdk/src/rp2_common/cmake_install.cmake
build/pico-sdk/src/rp2_common/boot_stage2/bs2_default_padded_checksummed.S
build/pico-sdk/src/rp2_common/boot_stage2/bs2_default.bin
build/pico-sdk/src/rp2_common/boot_stage2/bs2_default.dis
build/pico-sdk/src/rp2_common/boot_stage2/bs2_default.elf
build/pico-sdk/src/rp2_common/boot_stage2/cmake_install.cmake
build/pico-sdk/src/rp2_common/boot_stage2/CMakeFiles/bs2_default.dir/compile_time_choice.S.obj
build/pico-sdk/src/rp2_common/cmsis/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_adc/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_base/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_claim/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_clocks/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_divider/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_dma/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_exception/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_flash/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_gpio/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_i2c/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_interp/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_irq/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_pio/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_pll/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_pwm/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_resets/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_rtc/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_spi/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_sync/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_timer/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_uart/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_vreg/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_watchdog/cmake_install.cmake
build/pico-sdk/src/rp2_common/hardware_xosc/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_bit_ops/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_bootrom/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_bootsel_via_double_reset/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_cxx_options/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_divider/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_double/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_fix/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_float/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_int64_ops/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_malloc/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_mem_ops/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_multicore/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_platform/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_printf/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_runtime/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_standard_link/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_stdio/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_stdio_semihosting/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_stdio_uart/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_stdio_usb/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_stdlib/cmake_install.cmake
build/pico-sdk/src/rp2_common/pico_unique_id/cmake_install.cmake
build/pico-sdk/src/rp2_common/tinyusb/cmake_install.cmake
build/pico-sdk/tools/cmake_install.cmake
